<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>盈泰保险经纪</title>
    <meta name="description" content="盈泰保险经纪">
    </meta>
    <meta name="keywords" content="盈泰保险经纪">
    </meta>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui,viewport-fit=cover">
    </meta>
    <meta name="format-detection" content="telephone=no">
    </meta>
    <meta name="apple-mobile-web-app-capable" content="yes">
    </meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </meta>
    <meta name="x5-fullscreen" content="true">
    </meta>
    <meta name="full-screen" content="yes">
    </meta>
    <meta name="fullscreen" content="yes">
    </meta>
    <script>
        (window.onresize = window.__setFontSize__ = function () {
            document.documentElement.style.fontSize = Math.min(750, Math.max(document.documentElement.clientWidth, 320)) / 375 * 14 + 'px'
        }
        )()
    </script>
    <script>
        window.onload = function () {
            let screenHeight = 0
            if (window.innerHeight) {
                screenHeight = window.innerHeight;
            } else if ((document.body) && (document.body.clientHeight)) {
                screenHeight = document.body.clientHeight;
            }
            document.body.style.height = screenHeight + 'px'
        }
    </script>
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>